<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using Flight Booker, <%= @passenger.name %>.</h1>
    <p>
      You have successfully booked a flight on Flight Booker.<br>
      Below are the booking's details:
    </p>
    <p><b>
      <%= @booking.flight.from_airport.city %> (<%= @booking.flight.from_airport.airport_code %>)
      ->
      <%= @booking.flight.to_airport.city %> (<%= @booking.flight.to_airport.airport_code %>)
      on
      <%= @booking.flight.date %>
      (Flight Id #<%= @booking.flight.id %>).
    </p></b>
    <p>
      To login to the site, just follow this link: <a href=<%= @url %>>Sign In</a>.
    </p>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>