<br>
<div class="row">
  <h5>
    <div class="px-3 pb-3">
      <%= @flight.from_airport.city %> (<%= @flight.from_airport.airport_code %>)
      ->
      <%= @flight.to_airport.city %> (<%= @flight.to_airport.airport_code %>)
      on
      <%= @flight.date %>
    </div>
    <div class="px-3 pb-3">
      Flight Id #<%= @flight.id %>
    </div>
    <br>
    
    <%= simple_form_for(@booking) do |f| %>
      <%= f.hidden_field :flight_id, :value => "#{@flight.id}" %>

        <%= f.simple_fields_for :passengers do |p| %>
          <%= p.hidden_field :booking_id, :value => "#{@booking.id}" %>
        
          <div class="px-3">
            Name
          </div>
          <div class="col-md-2 py-2">
            <div class="px-3 pb-3">
              <%= p.input :name, label: false %>
            </div>
          </div>

          <div class="px-3">
            Email
          </div>
          <div class="col-md-2 py-2">
            <div class="px-3 pb-3">
              <%= p.input :email, label: false %>
            </div>
          </div>
        
        <% end %>
      
      <div class="col-md-2 py-2">
        <div class="px-3 pb-3">
          <%= f.button :submit, "Book Flight", class: 'col btn btn-primary' %>
        </div>
      </div>
      
    <% end %>
  </h5>
</div>
