<div class="container">
  <%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
    <%= f.input :from_id, as: :select, collection: @select_airports, prompt: 'From', label: false, wrapper: false %>
    <%= f.input :to_id, as: :select, collection: @select_airports, prompt: 'To', label: false, wrapper: false %>
    <%= f.input :passengers, as: :select, collection: 1..4, prompt: 'Passengers', label: false, wrapper: false %>
    <%= f.input :datetime, as: :select, collection: @select_dates, prompt: 'Date', label: false, wrapper: false %>
    <%= f.button :submit, "Search Flights" %>
    <% @search = params["search"] %>
  <% end %>
</div>
